.freelance__page {
  background-color: $free-light;
  color: $free-dark;
  height: 100vh;

  .buttons {
    background-color: $light-color;
    position: fixed;
    height: 50px;
    width: 100%;
    @include box-shadow;
    z-index: 10;

    .logo {
      text-transform: uppercase;
      color: $free-dark;
      @include text-shadow;
      position: absolute;
      left: 15px;
      line-height: 50px;
      letter-spacing: 1px;
      font-size: 20px;
      font-family: $crimson-font;
    }

    .links {
      position: absolute;
      right: 0;

      .freelance {
        color: $free-dark;
        border-left: 0;
        position: absolute;
        top: 15px;
        right: 105px;
      }

      .recruiter {
        color: $free-dark;
        border-right: 0;
        position: absolute;
        top: 15px;
        right: 22px;
      }
    }
  }

  // Main Page Info
  .main-page-info {
    background: url('../images/bg.png');
    background-size: cover;
    // padding-top: 120px;
    border-bottom: 1px solid $free-dark;
    height: 80vh;

    .overlay {
      background: rgba(0, 0, 0, 0.5);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    img {
      width: 100px;
      height: 110px;
      border-radius: 50%;
      transform: rotate(270deg);
      // margin-top: 80px;
      margin-bottom: 50px;
      @include freelance-shadow;
    }

    h5 {
      background-color: $free-dark;
      color: $light-color;
      padding: 10px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      @include freelance-shadow;
    }

    h2 {
      color: $free-dark;
      font-size: 44px;
    }

    h6 {
      color: $free-dark;
      font-size: 24px;
      text-transform: capitalize;
      padding-top: 10px;
    }

    span.email {
      color: $free-dark;
      font-size: 24px;
    }

    span.phone {
      color: $free-dark;
      font-size: 24px;
      margin-top: 10px;
    }
  }

  // Service Area
  .service {
    background-color: $free-light;
    padding-top: 40px;
    border-bottom: 1px solid $free-dark;
    height: 100%;

    height: auto;

    h4 {
      color: $free-dark;
      text-align: center;
      padding-bottom: 10px;
    }

    .design {
      border: 1px solid $free-dark;
      border-radius: 4px;
      @include freelance-shadow;
      margin-bottom: 40px;
      background-color: $free-dark;
      color: $free-light;

      h6 {
        color: $free-light;
      }

      i {
        padding-top: 30px;
        padding-bottom: 10px;
      }
    }
  }

  // PORTFOLIO AREA
  .portfolio {
    background-color: $free-light;
    padding-top: 40px;
    border-bottom: 1px solid $free-dark;

    ul {
        background-color: $free-light;
        margin-left: 50px;
      li {
        padding: 5px;
        transition: all .3s ease-in;
        &:hover {
          background-color: $free-dark;
          color: $light-color;
          border-radius: 5px;
        }

        a {
          font-size: 16px;
          font-weight: 600;
          transition: all .3s ease-in;
          text-decoration: none;
          text-transform: uppercase;
          color: $dark-color;

          &:hover {
            color: $light-color;
            border-radius: 5px;
          }
        }
      }
    }

    .tab-space {
      padding-top: 30px;

      .col-md-6, .col-md-4 {
        padding: 20px;
      }

      .card {
        background-image: url(../images/restaurant/pulses.png);
        background-size: cover;
        background-position: top center;

        &-content {
          padding: 10px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          height: 100%;
          color: $free-light;
          transition: all .3s ease-in;
          opacity: 0;

          &:hover {
            background: rgba(0, 0, 0, 0.6);
            opacity: 1;
          }

          h6 {
            color: $free-light;
            font-weight: bold;
          }

          .card-title {
            color: $free-light;
            font-weight: bold;
            font-size: 22px;
          }
        }
      }
    }
  }

  // CONTACT AREA
  .contact {
    background-color: $free-light;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid $free-dark;

    h4 {
      text-align: center;
      @include text-shadow;
      a {
        text-decoration: none;
        color:$dark-color;
        cursor: pointer;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  color: $free-light;
  background-color: $dark-color;
  height: 40px;
}
