@import "config";
@import "utilities";
@import "recruite";
@import "freelance";
@import "responsive";
@import "desktop";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $crimson-font;
  font-size: 16px;
  background-color: $dark-color;
}

.main-page {
  background: url("../images/bg.jpg") no-repeat center center/cover;
  height: 100vh;

  &--over {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  .buttons {
    padding-bottom: 100px;

    a {
      .freelance {
        background-color: $free-dark;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        text-transform: uppercase;
        padding: 15px;
        color: $light-color;
        @include freelance-shadow;
      }

      .recruiter {
        background-color: $free-dark;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        text-transform: uppercase;
        padding: 15px;
        color: $light-color;
        @include freelance-shadow;
      }
    }

    .recruiter {
      color: $light-color;
      @include text-shadow;
      text-align: center;
    }

    .feelance {
      color: $light-color;
      @include text-shadow;
    }
  }


  .main-page-info {
    padding-bottom: 100px;
    color: $light-color;
    @include text-shadow;

    h2 {
      color: $light-color;
      font-family: $crimson-font;
      @include text-shadow;
      font-size: 54px;
      span.dot {
        color: $main-color;;
        font-size: 10px;
      }
    }

    h5 {
      color: $light-color;
      font-size: 34px;
      text-transform: capitalize;
    }

    span {
      font-size: 24px;
      text-transform: capitalize;
    }
  }

  .social {
    width: 100%;
    @inculde freelance-shadow;

    a {
      background-color: $free-dark;
      border-radius: 15px;
      padding: 5px 15px;
      margin: 0 13px;
      color: $light-color;
    }
  }
}
